input,
label {
  display: block;
  color: #303030;
  font-size: 16px;
  margin: 10px 0;
}

input {
  border: 1px solid #6d6d6d;
  border-radius: 5px;
  color: #3d3d3d;
  background-color: #fff;
  padding: 10px 14px;
  box-sizing: border-box;
  width: 100%;
}

.checkout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 100px;
}

.orderform {
  background-color: #f4f4f4;
}

.name {
  display: grid;
  grid-template-columns: 1fr 20px 1fr;
  justify-items: stretch;
}

.lastname {
  grid-column-start: 3;
}

.street input {
  width: 100%;
  margin: 10px auto;
}

.postal {
  display: grid;
  grid-template-columns: 1fr 20px 1fr;
  justify-items: stretch;
}

.city {
  grid-column-start: 3;
}

.submit {
  color: #fbfcfb;
  background-color: #6c7c57;
  padding: 13px 20px;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  float: right;
  margin-top: 20px;
}

.summary {
  margin: 20px;
  width: 500px;
}

.itemCart {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'img title title delete'
    'img . . .'
    'img . . price';

  padding: 20px 0;
  border-bottom: 2px solid #bdbdbdbd;
}

.cartImage {
  width: 85px;
  height: 85px;
  grid-area: img;
  justify-self: start;
}

.title {
  grid-area: title;
  justify-self: start;
}

.price {
  grid-area: price;
  justify-self: end;
  text-align: end;
  font-weight: 500;
}

.totalPrice {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 60px;
  margin-bottom: 50px;
}

.summa {
  justify-self: start;
}

.total {
  justify-self: end;
  font-weight: bold;
}

/* 
** Mobile
*/

@media screen and (max-width: 600px) {
  .checkout {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .orderform,
  label {
    width: 100%;
  }

  .name,
  .postal {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
  }

  .submit {
    float: none;
    margin: auto 0;
  }

  .summary {
    margin: 0;
    width: 100%;
    padding: 5px;
  }

  .itemCart {
    padding: 20px 0;
    width: 100%;
  }

  .cartImage {
    width: 65px;
    height: 65px;
  }
}
