header {
  background-color: #e8e7e6;
  height: 150px;
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
}
a {
  text-decoration: none;
  color: #464646;
}

.kategori {
  font-size: 20px;
}
.kategori a {
  display: block;
  position: relative;
  padding: 0.2em 0;
}

.kategori a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #ad1d1f;
  transition: opacity 300ms, transform 500ms;
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.kategori a:hover::after,
.kategori a:focus::after {
  transform: scale(1);
}

.logo {
  color: #ad1d1f;
  padding-right: 100px;
}

.varukorg {
  padding-left: 100px;
  width: 100px;
}

.navbar {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aktiv::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #ad1d1f;
  opacity: 1;
}

.varukorg button {
  border: 0;
  padding: 0;
  background-color: #e8e7e6;
  font-size: 18px;
}

/* 
** Varukorgen: 
*/

.numberItems {
  display: inline-block;
  background-color: #cc1618;
  color: #fff;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  font-size: 11px;
  font-weight: 400;
  margin-right: 10px;
}

.totalCart {
  font-size: 12px;
  font-weight: 600;
}

.dinVarukorg {
  font-size: 18px;
  font-weight: 300;
  padding: 20px;
}

.itemCart {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'img title title delete'
    'img . . .'
    'img . . price';

  padding: 20px 0;
  border-bottom: 2px solid #bdbdbdbd;
}

.delete {
  border: 0;
  grid-area: delete;
  justify-self: end;
  background-color: #e8e7e6;
  font-weight: 600;
}

.delete:hover {
  color: #ad1d1f;
}

.cartImage {
  width: 85px;
  height: 85px;
  grid-area: img;
  justify-self: start;
}

.title {
  grid-area: title;
  justify-self: start;
}

.price {
  grid-area: price;
  justify-self: end;
  text-align: end;
  font-weight: 500;
}

.totalPrice {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 60px;
  margin-bottom: 50px;
}

.summa {
  justify-self: start;
}

.total {
  justify-self: end;
  font-weight: bold;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.checkout {
  background-color: #cc1618;
  color: #fff;
  padding: 15px 25px;
  border-radius: 4px;
  text-align: center;
  width: 120px;
}

.checkout:hover {
  display: inline-block;
  transform: translateY(-1px);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}

.close {
  background-color: #cc161800;
  color: #070707;
  padding: 15px 25px;
  border-radius: 4px;
  border: 1px solid #cc1618;
  justify-self: end;
  width: 150px;
  box-sizing: border-box;
}

/* 
** Mobile 
*/

/* On screens that are 600px or less */
@media screen and (max-width: 600px) {
  .menu {
    border: 0;
    background-color: #00000000;
  }
  .hamburger {
    position: relative;
    display: inline-block;
    width: 1.25em;
    height: 0.8em;
    margin-right: 0.3em;
    border-top: 0.2em solid #000000;
    border-bottom: 0.2em solid #000000;
  }

  .hamburger:before {
    content: '';
    position: absolute;
    top: 0.3em;
    left: 0px;
    width: 100%;
    border-top: 0.2em solid #000000;
  }

  .hideMenu {
    display: none;
  }

  .mobileMenu {
    position: absolute;
    background-color: #e8e7e6;
    width: 50%;
    height: 100%;
    padding: 16px;
    left: 0;
    top: 134px;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    box-sizing: border-box;
  }

  .mobileGrid {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
  }
}
