.footer {
  background-color: #e8e7e6;
  height: 100px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 16px;
}

.name {
  margin-right: 20px;
}
